<div class="row">
  <div class="col">
    <div *ngIf="noticia$ | async as noticia" >
      <div class="card" >
        <div class="card-header">
          <h3>{{noticia.title}}</h3>
        </div>
        <img src="../../assets/images/{{noticia.image}}" class="img-fluid rounded mx-auto d-block image">
        <div class="card-body">
          <div class="text-center">
            <h5 class="card-title">
               {{noticia.description}}
            </h5>
            <p class="card-text">{{noticia.body}}</p>
            <a class="btn btn-outline-success btn-lg" (click)="gotoNoticias(noticia)">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
