<div class="row">
  <div class="col align-self-end line-style">
    <div class="col">
      <a href="#" class="logo"><strong>P.M.M.</strong>
        <br>Club Buyer &amp; Seller</a>
      </div>
      <div class=" col">
        <ul class="icons list-inline float-right" >
        <br><span class="icon-Innovamars"></span><br>
        	<li  class="list-inline-item">
            <a href="#" class="icon">
              <span class="label"></span>
              <fa name="home"></fa>
            </a>
          </li>
        	<li  class="list-inline-item">
            <a href="#" class="icon">
              <span class="label"></span>
              <fa name="bell-o"></fa>
            </a>
          </li>
        	<li  class="list-inline-item">
            <a href="#" class="icon">
              <span class="label"></span>
              <fa name="comments"></fa>
            </a>
          </li>
        	<li  class="list-inline-item">
            <a href="#" class="icon">
              <span class="label"></span>
              <fa name="cog"></fa>
            </a>
          </li>
        	<li  class="list-inline-item">
            <a href="#" class="icon">
              <span class="label"></span>
              <fa name="power-off"></fa>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
